.man-sp-label {
  display: block;
}

.man-sp-input {
  display: block;
  width: 100%;
}

.man-buttons {
  display: flex;
  flex-direction: column;
}

#manual-spellcheck-container {
  display: flex;
}

.man-sp {
  height: 100%;
  display: flex;
  flex-direction: column;
}
#man-sp-suggestions {
  flex-grow: 1;
  overflow-y: scroll;
}

.man-sp-col.man-inputs {
  flex-grow: 1;
  min-width: 0; /* prevent flexbox overflow */
}

.man-sp-suggestion {
  padding: 5px 0 5px 10px;
}
.man-sp-suggestion:hover:not(.man-sp-selected) {
  background-color: #f2f8fd;
}

.man-sp-suggestion:checked {
  background-color: #d8e2ea;
}

.man-sp-button {
  border: 1px solid #C8C1C1; /* same grey as modal dialog buttons border. */
  border-radius: 4px;
  padding: 5px 10px;
  margin: 0 0 15px 10px;
  cursor: pointer;
  background-color: #fbfbfb;
  font-size: 14px;
  text-align: center;
  line-height: 1.5;
}
.man-sp-button:hover, .man-sp-button:active {
  background-color: lightgray;
}

#manual-spellcheck .modal-dialog-content{
  padding-bottom: 30px;
}

.spelling-selected {
  background-color: #5077e0;
  color: white;
}