.man-sp-input {
  display: block;
  flex-shrink: 0;
  width: 100%;
}

.man-buttons {
  display: flex;
  flex-direction: column;
}

#manual-spellcheck-container {
  display: flex;
}

.man-sp {
  height: 100%;
  display: flex;
  flex-direction: column;
}
#man-sp-suggestions {
  flex-grow: 1;
  min-height: 1px;
  overflow-y: scroll;
}

.man-sp-col.man-inputs {
  flex-grow: 1;
  min-width: 1px; /* prevent flexbox overflow, also 1px instead of 0 because IE doesn't like it. */
}

.man-sp-suggestion {
  padding: 5px 0 5px 10px;
}
.man-sp-suggestion:hover:not(.man-sp-selected) {
  background-color: #f2f8fd;
}

.man-sp-suggestion:checked {
  background-color: #d8e2ea;
}

.man-sp-button.oxy-button {
  margin: 0 0 10px 10px;
}

.man-sp-button.oxy-button[disabled] {
  color: #ababab;
  background-color: #eeeeee;
}

#manual-spellcheck .modal-dialog-content{
  padding-bottom: 30px;
}

#manual-spellcheck.man-sp-transparence {
  opacity: 0.8;
}

.spelling-selected {
  background-color: #5077e0;
  color: white;
}